{% extends 'base.html.twig' %}


{# MAIN CONTENT #}
{% block body %}

    {#TITLE PAGE#}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Vue sur....</span>
    <h3 class="page-title">Un petit problème Mamen' </h3>
  </div>
</div>
<!-- End Page Header -->
  <div class="error">
    <div class="error__content">
        <h2>Contenu inaccessible</h2>
        <h3 class="error--title"><i class="material-icons custom-icons">report</i>Arrrrrrrf....</h3>
        <p>Ta recherche : {{ query }} n'a pas été trouvé</p>
        <a href="{{ url('default') }}" class="btn btn-accent btn-pill"><i class="material-icons custom-icons">keyboard_return</i>Lay Back</a>
    </div>
    <!-- / .error_content -->
  </div>
  <!-- / .error -->
{% endblock %}

{% block nav_view %}

    {% include 'fromage/nav-view.html.twig' %}

{% endblock %}

