<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url('default') }}">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#page-heading">Block 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#page-content">Block 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#page-block3">Block 3</a>
              </li>
            </ul>

            <span class="copyright ml-auto my-auto mr-2">Copyright © 2018
              <a href="http://www.nte.ovh/bmatyka/my-site/" rel="nofollow">Benjam - Préjent </a>
            </span>
          </footer>

